{% extends "zipline_app/base.html" %}
{% load pagination_tags %}

{% block content %}
<h1>
Securities
<a href="{% url 'zipline_app:assets-new' %}" class='btn btn-default'>
New <span class='glyphicon glyphicon-plus'></span>
</a>
</h1>


{% autopaginate asset_list %}

{% for asset in asset_list %}
    <div class="row">
      <div class='col-xs-1'>{{ asset.asset_origin }}</div>
      <div class="col-xs-2">
        <a href="{% url 'zipline_app:assets-detail' asset.id %}">
          {{ asset.asset_symbol }}
        </a>
      </div>
      <div class="col-xs-4">{{ asset.asset_name }}</div>
      <div class="col-xs-1">{{ asset.asset_isin }}</div>
      <div class="col-xs-1">{{ asset.asset_currency }}</div>
      <div class="col-xs-2">{{ asset.asset_exchange }}</div>
    </div>
{% empty %}
    <div class="alert alert-info">No assets yet.</div>
{% endfor %}

{% paginate %}

{% endblock %}
