{% extends "zipline_app/base.html" %}

{% block content %}

Security Details
<ul>
  <li>Symbol: {{asset.asset_symbol}}</li>
  <li>Name: {{asset.asset_name}}</li>
  <li>ISIN: {{asset.asset_isin}}</li>
  <li>Currency: {{asset.asset_currency}}</li>
  <li>Exchange: {{asset.asset_exchange}}</li>
  <li>Origin: {{asset.asset_origin}}</li>
</ul>

<a class='btn btn-default' href="{% url 'zipline_app:assets-update' asset.id %}">Edit</a>
<a class='btn btn-danger' href="{% url 'zipline_app:assets-delete' asset.id %}">Delete</a>

{% endblock %}
