{% extends "zipline_app/base.html" %}
{% load pagination_tags %}

{% block content %}

<div class='row'>
  <div class='col-md-3'>
    <h1>Custodians</h1>
  </div>
  <div class='col-md-9 text-right'>
    <a class='btn btn-primary' href="{% url 'zipline_app:custodians-new' %}">
      Create
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</div>

{% autopaginate object_list %}
    {% for custodian in object_list %}
    <div class="row">
      <div class="col-xs-1 text-right">
        <a href="{% url 'zipline_app:custodians-detail' custodian.id %}">#{{ custodian.id }}</a>
      </div>
      <div class="col-xs-3">{{ custodian.custodian_symbol }}</div>
      <div class="col-xs-3">{{ custodian.custodian_name }}</div>
    </div>
{% empty %}
    <div class="alert alert-info">No custodians yet.</div>
{% endfor %}

{% paginate %}

{% endblock %}
