{% extends "zipline_app/base.html" %}
{% load render_table from django_tables2 %}

{% load bootstrap3 %}
{% load static %}

{% block content %}
<link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />

{{ filter.form.media.css }}

<style>
/* https://stackoverflow.com/a/28785837/4126114 */
.select2-container { width: 100% !important; }
</style>

<div class='row'>
  <div class='col-xs-2 h1'>Orders</div>
  <div class='col-xs-8'>
    {%if filters_actual %}
    <small>
      <div class='alert alert-warning'>
        Filtered for {{ filter.qs.count }} of {{ filter.queryset.count }} items:
        &nbsp;
        {% if filters_actual.asset %}
        <span class='btn btn-default btn-xs'>
        Security: <a href="{% url 'zipline_app:assets-detail' filters_actual.asset.id %}">{{filters_actual.asset}}</a>
        </span>
        {% endif %}
        &nbsp;
        {% if filters_actual.account %}
        <span class='btn btn-default btn-xs'>
        Client: <a href="{% url 'zipline_app:accounts-detail' filters_actual.account.id %}">{{filters_actual.account}}</a>
        </span>
        {% endif %}
        &nbsp;
        {% if filters_actual.order_status %}
        <span class='btn btn-default btn-xs'>
        Status: {{filters_actual.order_status}}
        </span>
        {% endif %}
        &nbsp;
        {% if filters_actual.order_side %}
        <span class='btn btn-default btn-xs'>
        Side: {{filters_actual.order_side}}
        </span>
        {% endif %}
        &nbsp;
        <a href='{{ request.path }}' class='btn btn-warning btn-xs' >Clear</a>

      </div>
    </small>
    {%endif%}
  </div>
  <div class='col-xs-2'>
    <div class='btn-group pull-right'>
      <a class='btn btn-default' href="{% url 'zipline_app:orders-new' %}">
        New
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <a class='btn {% if filters_actual %}btn-warning{% else %}btn-default{%endif%}' href="#" data-toggle="modal" data-target="#filterModal">
        Filter
        <span class="glyphicon glyphicon-filter"></span>
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="filterModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        {# https://github.com/spapas/django_table_filtering/blob/master/books/templates/books/book_list.html #}
        <form method='GET' class='form'>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter table</h4>
      </div>
      <div class="modal-body">
            <div class='row'>
            {% bootstrap_form filter.form layout='horizontal' %}
            </div>
      </div>
      <div class="modal-footer">
        <div class='row'>
          <div class='col-md-6 btn-grp pull-right'>
            <button type='submit' class='btn btn-primary'>Filter</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
        </form>

    </div>
  </div>
</div

<br>


<style>
.table-container { width:100%; }
</style>

{% render_table table "django_tables2/bootstrap.html" %}

{{ filter.form.media.js }}
{% endblock %}
