Django==1.10.5
django-bootstrap3==8.1.0
django-pagination-bootstrap==1.2
Django-Select2==5.8.10
django-smtp-ntlm-backend==0.0.3
numpy==1.12.0
openpyxl==2.4.5
pandas==0.18.1
progressbar33==2.4
xlrd==1.0.0

# can't just use pymssql until https://github.com/pymssql/pymssql/issues/432#issuecomment-238257092
git+https://github.com/pymssql/pymssql.git

# until https://github.com/trustrachel/python-ntlm3/pull/24 is closed
git+https://github.com/shadiakiki1986/python-ntlm3.git@feature_smtp
