{% load humanize %}

<div class='row'>
{% if order.dedicated_fill is not None %}
  <div class='col-xs-3'>
    <a href="{% url 'zipline_app:fills-detail' order.dedicated_fill.id %}">
      Fill #{{order.dedicated_fill.id}}
    </a>
  </div>
  <div class='col-xs-9'>
    ({{order.dedicated_fill.user.username}},
     {{order.dedicated_fill.get_fill_status_display}},
     {{order.dedicated_fill.get_category_display}},
     {{order.dedicated_fill.get_is_internal_display}})
  </div>

{% else %}

  {% if order.order_status != 'C' %}
    <div class='col-xs-12 text-left'>
      Open
      &nbsp;
      {% if order.placement %}
        <span class="glyphicon glyphicon-check text-danger" title="Placed on {{order.placement.date|date:'Y-m-d H:i'}} by {{order.placement.user.username}}"></span>
      {% else %}
      <form action="{% url 'zipline_app:placements-new' %}" method="post" style="margin: 0; padding: 0; display: inline;">
        {% csrf_token %}
        <input type="hidden" name="order" value="{{order.id}}" />
        <button type="submit" class="btn btn-default btn-xs" title="Place order #{{order.id}}">
          <span class="glyphicon glyphicon-check"></span>
        </button>
      </form>
      {% endif %}
      &nbsp;
      <abbr title="Fill order #{{order.id}}">
        <a
          class="btn btn-xs"
          href="{% url 'zipline_app:fills-new' %}?order={{order.id}}&source=blotter-concealed"
        >
          <span class="glyphicon glyphicon-copy"></span>
        </a>
      </abbr>
    </div>
  {% endif %}

  {% if order.order_status == 'C' %}
    <div class='row text-right'>
    {% if order.filled != order.order_qty_signed %}
      {% if order.filled != 0 %}
      Partial
      {% else %}
      Cancelled
      {% endif %}
    {% else %}
      Filled yet cancelled!
    {% endif %}
    </div>
  {% endif %}

{% endif %}
</div>
