{% load humanize %}
{% load bootstrap3 %}

{% for order in duo.orders %}
<div class="row {% if order.filled != order.order_qty_signed %}text-warning{% endif %}">

  <div class="col-xs-2">
    <attr title="{{order.account.account_name}}">
      <a href="{% url 'zipline_app:accounts-detail' order.account.id %}">
        {{order.account.account_symbol}}
      </a>
    </attr>
  </div>

  <div class="col-xs-2 text-right">
    {{order.order_side}}
    {{order.order_qty_unsigned|intcomma}}
  </div>
  <div class="col-xs-2 text-right text-primary">{{order.filled|intcomma}}</div>
  <div class="col-xs-2 text-right text-primary">{{order.avgPrice|floatformat:"2"|intcomma}}</div>

  <div class="col-xs-4">
    <div class="row">
      <div class="col-xs-4">
        {% if order.filled != order.order_qty_signed %}
        <abbr title="Close order #{{order.id}}">
          <a
            class="btn btn-xs"
            href="{% url 'zipline_app:fills-new' order.id %}?source=blotter-sideBySide"
          >
            <span class="glyphicon glyphicon-copy"></span>
          </a>
        </abbr>
        {% endif %}
      </div>

      <div class="col-xs-8">
        <abbr title="Order">
          <a href="{% url 'zipline_app:orders-detail' order.id %}">
            #{{order.id}}
          </a>
        </abbr>
        ({{order.user.username}})
      </div>
    </div>
  </div>
</div>

{% if order.order_text %}
  <div class="row">
    <div class="col-xs-12 text-muted text-left">{{ order.order_text }}</div>
  </div>
{% endif %}
{% endfor %}

