{% extends "zipline_app/base.html" %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block content %}
{{ form.media.css }}

<div class='row'>
<div class='col-md-6'>
<form action="" method="post" class="form" name="main-form" id="orders-new">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% comment %}
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.pub_date %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.asset %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.order_side %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.order_qty_unsigned %}</div></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.account %}</div></div>
    <div class="col-xs-3"><div class="row">{% bootstrap_field field=form.order_text placeholder="some comments" %}</div></div>
  </div>
  {% endcomment %}

  {% if source %}<input type="hidden" name="source" value="{{source}}" />{% endif %}
    <div class="col-xs-1">{% bootstrap_button content="Save" icon="star" button_type="submit" button_class="btn-primary" %}</div>
</form>
</div>
</div>

<br><br>

{% if order %}
  <div>Documents:
    {% for d in order.documents %}
    <a href="{% url 'zipline_app:document-download' d.id %}">{{d.label}}</a>
    <a href="{% url 'zipline_app:orders-document-delete' order_id=order.id doc_id=d.id %}" class='btn btn-xs btn-danger' name="del-doc">
      <span class='glyphicon glyphicon-remove'></span>
    </a>
    &nbsp;&nbsp;
    {% empty %}
    None
    {% endfor %}

    {% include 'zipline_app/order/order_document_upload.html' %}

  </div>
{% endif %}

<script type="text/javascript">
$(function() {
  // disable the submit button when the form is submitted to avoid having the user clicking multiple times during page reload (and hence submitting duplicates)
  $("form[name='main-form']").submit(function(e) {
    $("form[name='main-form'] button[type='submit']").prop("disabled","disabled");
{% if docs_form %}
    $("form[name='docs-form'] button[type='submit']").prop("disabled","disabled");
{% endif %}
    $("form[name='main-form'] button[type='submit']").html("Saving order...");
  });

{% if docs_form %}
  $("form[name='docs-form']").submit(function(e) {
    $("form[name='main-form'] button[type='submit']").prop("disabled","disabled");
    $("form[name='docs-form'] button[type='submit']").prop("disabled","disabled");
    $("form[name='docs-form'] button[type='submit']").html("Uploading...");
  });
{% endif %}

  // order limit price disabled when order type = market
  $("#orders-new select[name='order_type']").change(function() {
    if($(this).val()=="M") {
      $("#orders-new input[name='limit_price']").prop("disabled", "disabled");
      $("#orders-new input[name='limit_price']").val('');
    } else {
      $("#orders-new input[name='limit_price']").prop("disabled", false);
    }
  });

  // since default order_type = market, disable the limit price
  $("#orders-new input[name='limit_price']").prop("disabled", "disabled");
  $("#orders-new input[name='limit_price']").val('');

  // order validity date disabled when order type != GTD
  $("#orders-new select[name='order_validity']").change(function() {
    if($(this).val()!="D") {
      $("#orders-new input[name='validity_date']").prop("disabled", "disabled");
      $("#orders-new input[name='validity_date']").val('');
    } else {
      $("#orders-new input[name='validity_date']").prop("disabled", false);
      let date = new Date();
      date = date.toISOString().substr(0,10);
      $("#orders-new input[name='validity_date']").val(date);
    }
  });

  // since default order_validity = GTC, disable the validity date
  $("#orders-new input[name='validity_date']").prop("disabled", "disabled");
  $("#orders-new input[name='validity_date']").val('');

  // upon selecting a different asset, fetch its currency, display it under the unit
  var updateQtyUnit = function() {
    var base = "{% url 'zipline_app:assets-detail' 1 %}";
    var id = $("#orders-new select[name='asset']").val();
    if(id != null) {
      $.get(
        base.replace("1",id)+"?asJson=true",
        function(data, textStatus, jqXHR ) {
          var currency = data["currency"];
          $('span[id="added_currency"]').remove();
          var span = $('<span id="added_currency" />').append('&nbsp; ('+currency+')');
          $("#orders-new select[name='order_unit'] option[value='C']").append(span);
        }
      );
    }
  };
  $("#orders-new select[name='asset']").change(function() { updateQtyUnit(); });
  updateQtyUnit();
});
</script>

{{ form.media.js }}
{% endblock %}
