{% extends "zipline_app/base.html" %}
{% load humanize %}
{% load bootstrap3 %}

{% block content %}

{% include 'zipline_app/order/_order_detail.html' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<font color="red">
{% if order.fills|length > 0 %}
    Current fills
    <ul>
    {% for fill in order.fills %}
        <li>
          {{fill.dt}}:
          {{fill.sid.symbol}},
          {{fill.amount|intcomma}},
          {{fill.price|intcomma}}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fills are available.</p>
{% endif %}
</font>

        {% if request.user.is_authenticated and order.user == request.user %}

        <!-- delete with confirmation -->
        <a href="{% url 'zipline_app:orders-delete' order.id %}" class='btn btn-danger'>Delete</a>

        <!-- delete without confirmation
        <form action="{% url 'zipline_app:orders-delete' order.id %}" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_button content="Del" icon="minus" button_type="submit" %}
        </form>
        -->

        <a href="{% url 'zipline_app:orders-update' order.id %}" class='btn btn-default'>Edit</a>

        {% endif %}

{##########################################}
<h2>History</h2>
<ul>
  {% for history in order.history %}
  <li>
    {{history.ed_date}}: {{history}}
  </li>
  {% empty %}
  <li>No history</li>
  {% endfor %}
</ul>
{% endblock %}
