{% extends "zipline_app/base.html" %}
{% load humanize %}

{% block content %}

<div class='row h1'>
  Fills
</div>

    <div class="row h4">
      <div class="col-xs-1 text-right">
        ID
      </div>
      <div class="col-xs-2">Date</div>
      <div class="col-xs-1">Asset</div>
      <div class="col-xs-1">Side</div>
      <div class="col-xs-1 text-right">Qty</div>
      <div class="col-xs-1 text-right">Price</div>
<!--      <div class="col-xs-1">{{ fill.tt_order_key}}</div> -->
      <div class="col-xs-1">
        Order
      </div>
      <div class="col-xs-2">Status / Comments</div>
      <div class="col-xs-1">User</div>
    </div>

    {% for fill in fill_list %}
    <div class="row">
      <div class="col-xs-1 text-right">
        <a href="{% url 'zipline_app:fills-detail' fill.id %}">#{{ fill.id }}</a>
      </div>
      <div class="col-xs-2">{{ fill.pub_date|date:"Y-m-d H:i:s" }}</div>
      <div class="col-xs-1"><a href="{% url 'zipline_app:assets-detail' fill.asset.id %}">{{ fill.asset.asset_symbol }}</a></div>
      <div class="col-xs-1">{{ fill.get_fill_side_display}}</div>
      <div class="col-xs-1 text-right">{{ fill.fill_qty_unsigned|intcomma}}</div>
      <div class="col-xs-1 text-right">{{ fill.fill_price }}</div>
<!--      <div class="col-xs-1">{{ fill.tt_order_key}}</div> -->
      <div class="col-xs-1">
        {% include 'zipline_app/fill/_fill_dedicated_to_order.html' %}
      </div>
      <div class="col-xs-2">
        <div class='row'>{{ fill.get_fill_status_display }}</div>
        <div class='row'>{{ fill.get_category_display }}</div>
        <div class='row'>{{ fill.get_is_internal_display }}</div>
        <div class='row'>Trade date: {{ fill.trade_date|date:"Y-m-d" }}</div>
        <div class='row'>{{ fill.fill_text }}</div>
      </div>
      <div class="col-xs-1">{{ fill.user.username }}</div>
    </div>
{% empty %}
    <div class="alert alert-warning">No fills yet.</div>
{% endfor %}

{% endblock %}
